<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Appointments</title>
      <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="styles/general_reset.css">
      <link rel="stylesheet" href="styles/styles.css">
      <link rel="stylesheet" href="styles/details-style.css">
  </head>
  <body>
      <div class="main-container">
      </div>

  <!--TEMPLATE Home screen-->
    <script id="home" type = "text/HTML">
      <header>
        <i class="fa fa-calendar-o"></i>
        <h1 class="header"> Appointments </h1>
      </header>
        <form class="search-form">
          <input class="search-bar" placeholder="Search">
        </form>
          <ul class="active-appointments">
            <a class="btn-details" href="#appt/details">Details
            </a>
          </ul>
      <footer class="new-appointment-footer">
        <a class="btn-submit-new" href="#appt/new">Add
        </a>
      </footer>
    </script>

  <!--TEMPLATE new appointments-->
    <script id="new-appointment" type = "text/HTML">
      <header>
        <i class="fa fa-calendar-o"></i>
        <h1 class="header"> New Appointment </h1>
      </header>
      <div class="new-appointment-container">
          <form class="appointment-form">
          <input name="title-input" placeholder="Title">
            <input name="date-input"placeholder="Date">
            <input name="time-input" placeholder="Time">
            <input name="address-input" placeholder="Address">
          </form>
      </div>
      <footer class="new-appointment-footer">
        <a class="btn-save-new" href="#home">Save
        </a>
      </footer>
    </script>

  <!--TEMPLATE editing appointments-->
    <script id="edit-appointment" type = "text/HTML">
       <header>
        <i class="fa fa-calendar-o"></i>
          <div class="wrap">
         </div>
      </header>
      <div class="edit-appointment-form">
          <form class="edit-appointment-form">
            <input class="title-input" <%- title%> ></input>
            <input class="date-input" <%- date%></input>
            <input class="time-input" <%- time%></input>
            <input class="address-input" <%- address%></input>
          </form>
      </div>
      <footer>
        <button class="btn-save" href="#home"><p>Save</p>
        </button>
      </footer>
    </script>

   <!--TEMPLATE details of appointments-->
    <script id="details" type="text/HTML">
        <header>
          <i class="fa fa-calendar-o"></i>
          <h1 class="header"> Details </h1>
            <div class="wrap">
           </div>
        </header>
        <div class="details-page">
           <span class="details-appointment-title"></span>
           <span class="details-appointment-date"></span>
           <span class="details-appointment-time"></span>
           <span class="details-appointment-address"></span>
           <span class="details-appointment-map"></span>
           <div class="details-weather-container"></div>
           <span class="details-appointment-notes"></span>
           <button class="btn-delete-appointment">X</button>
        </div>
        <footer>
          <button class="btn-home"><p>&#8592;</p>
          </button>
        </footer>
    </script>
    <!-- end of details-->


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="bower_components/underscore/underscore-min.js"></script>
      <script src="bower_components/backbone/backbone-min.js"></script>
      <script src="js/app.js"></script>
      <script src="js/router.js"></script>
      <script src="js/show.js"></script>
      <script src="js/appt.js"></script>
      <script src="js/object-store.js"></script>
      <script src="js/appt-controller.js"></script>
      <script src="js/appt-edit-controller.js"></script>
      <script src="js/appt-details-controller.js"></script>
      <script src="js/appt-new-controller.js"></script>
      <script src="js/init.js"></script>
  </body>
</html>
