header {
  border: 1px solid black;
  position:relative;
}

h1 {
  text-align:center;
  padding:0.5em;
}

.fa-calendar-o {
  float:left;
  position:absolute;
  top:0;
  left:0;
  padding:0.5em;
}
.main-container {
  margin:0 auto;
  display:block;
  max-width: 50%;
}
.search-form {
  display:block;
}
.search-bar {
  width: 100%;
}
footer {
  box-sizing: border-box;
  position:absolute;
  margin: 0 auto;
  width:100%;
  bottom:0;
  left: 0;
  height: 1.5em;
  border: 1px solid black;
}
/*
.add-appointment {
  margin-left:46%;
  margin-right:46%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  }
.active-appointments {
  border: 2px dashed black;
  background-color:red;
  height:5em;
}
*/
