body {
  width:100%;
  background: url('http://demo.iconmedia.gy/ftci/templates/gk_university/images/parallax_bg.jpg');
  y-overflow:hidden;
}
header {
  border: 0.5px solid black;
  position:relative;
  background-color:#61A0AD;
  opacity: 0.9;
}
.header, .edit-header {
  text-align:center;
  padding:0.5em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:2em;
  color:#EEEDCF;
}
.main-container {
  display:block;
  max-width: 100%;
}
.fa-calendar-o {
  float:left;
  position:absolute;
  top:0;
  left:0;
  padding:0.5em;
  font-size:1.7em;
  color:#EEEDCF;
}
.search-form {
  display:block;
  width:50%;
  margin:auto;
}
.search-bar {
  width: 100%;
  border-radius:2em;
  font-size:1em;
  margin-top:1.5em;
  margin-bottom:1em;
  text-align:center;
  background:#EEEDCF;
  color:#61A0AD;
}
footer, .btn-delete-appointment {
  box-sizing: border-box;
  position:absolute;
  margin: 0 auto;
  width:100%;
  bottom:0;
  left: 0;
  height: 2em;
  border: 0.5px solid black;
  background-color:#61A0AD;
  opacity: 0.9;
}
.btn-add-appointment, .btn-delete-appointment{
  margin-left:46%;
  margin-right:46%;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  height:2em;
  width:5em;
  background-color:white;
  border-radius:15px;
  color:black;
  z-index: 1;
  }
.btn-delete-appointment{
  display: none;
  }
li {
  background-color:#61A0AD;
  height:5em;
  border-radius: 15px;
  margin-left:1em;
  margin-right:1em;
  margin-top:1em;
}
li span {
  margin-left:1em;
  margin-top:2em;
  vertical-align:center;
}
.appointment-form, .edit-appointment-form {
  box-sizing:border-box;
  margin-right:10%;
  margin-left:10%;
  margin-top:10%;
}
.appointment-form input, .edit-appointment-form input {
  font-size:2em;
  text-align:center;
  margin-bottom: 0.5em;
  border-radius:10px;
}
.new-appointment-footer, .edit-footer, .details-footer {
  text-align:center;
}
.btn-submit-new {
  font-size:2.2em;
  text-decoration:none;
  color:#EEEDCF;
}
