body {
  background-color:#8FD4D9;
  overflow-x:hidden;
}
header {
  border: 1px solid black;
  position:relative;
  background-color:#f0f1ee;
}
.header {
  text-align:center;
  padding:0.5em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:1.7em;
  text-shadow: 3px 3px white;
}
.fa-bars {
  float:right;
  position:absolute;
  top:0;
  right:0;
  padding:0.5em;
  font-size:1.7em;
  text-shadow: 3px 3px white;
  height:1em;
  width:1em;
}
.fa-bars:hover {
  color:#8FD4D9;
  text-shadow: 1px 1px black;
}
.main {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  top:0;
}
.menu {
  background-color:#f0f1ee;
  padding:0.5em;
  padding-left:3.5em;
  line-height:1.5em;
  width: 170px;
  height:6em;
  position: absolute;
  top: 60px;
}
.wrap:hover .menu {
   right: -7px;
 }
 .menu a {
   font-family: 'Open Sans Condensed', sans-serif;
   text-decoration:none;
   font-family:Helvetica;
   margin-bottom:0.5em;
   color:black;
 }
 .menu a:hover {
   color:#8FD4D9;
 }
.fa-calendar-o {
  float:left;
  position:absolute;
  top:0;
  left:0;
  padding:0.5em;
  font-size:1.7em;
  text-shadow: 3px 3px white;
}
.main-container {
  display:block;
  max-width: 50%;
}
.search-form {
  display:block;
}
.search-bar {
  width: 100%;
  border-radius:2em;
  font-size:1em;
  margin-top:1em;
  margin-bottom:1em;
  text-align:center;
}
footer, .btn-delete-appointment {
  box-sizing: border-box;
  position:absolute;
  margin: 0 auto;
  width:100%;
  bottom:0;
  left: 0;
  height: 2em;
  border: 1px solid black;
  background-color:#f0f1ee;
}
.btn-add-appointment, .btn-delete-appointment{
  margin-left:46%;
  margin-right:46%;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  height:2em;
  width:5em;
  background-color:white;
  border-radius:15px;
  color:black;
  z-index: 1;
  }
.btn-delete-appointment{
  display: none;
  }
.add-appointment:hover {
  background-color:#8FD4D9;
  color:white;
  }
.active-appointments {
  border: 2px dashed black;
  background-color:red;
  height:5em;
}
.new-appointment-form {
  background-color:#8FD4D9;
  background-size:100%;
  display:none;
}
.new-appointment-heading {
  font-family: Helvetica;
  font-size:2.5em;
  margin-top:1em;
  text-align:center;
  color:white;
  border-bottom: 1px dashed white;
  padding-bottom:1em;
}
.appointment-form {
  box-sizing:border-box;
  margin-right:10%;
  margin-left:10%;
  margin-top:10%;

}
.appointment-form input {
  font-size:2em;
  text-align:center;
  margin-bottom: 0.5em;
  border-radius:10px;
}
.menu {
  display:none;
}
